In [1]:
import pandas as pd
import pickle

In [7]:
pickle_in =open('scripts/preprocessed.pickle' ,'rb')
dataframe11635=pickle.load(pickle_in)
pickle_in1 =open('dataset6231.pickle' ,'rb')
dataframe6231=pickle.load(pickle_in1)

In [8]:
dataframe11635.head()

,label,tweet_id,tweet_text,preprocessed
0,missing_trapped_or_found_people,'592616512642420737',fears for Foreigners missing in Nepal earthqua...,fear foreigner missing nepal earthquake death ...
1,affectedPeople_or_injured_or_dead_people_or_De...,'592686635520827393',"RT @ParisBurned: 3,700 people dead is absolute...",700 people dead absolutely devastating country...
2,donation_needs_or_offers_or_volunteering_services,'593301431366635520',Earthquake in Nepal - Please help Kapil #crowd...,earthquake nepal please help kapil crowdfundin...
3,sympathy_and_emotional_support,'592637329786830848',RT @cuteinsan: In this horrible situation in n...,horrible situation nepal god help pita really ...
4,affectedPeople_or_injured_or_dead_people_or_De...,'592955183753203715',VIDEO REPORT Kathmandu overwhelmed by rubble a...,video report kathmandu overwhelmed rubble eart...

In [9]:
dataframe6231.head()

,label,tweet_id,tweet_text,preprocessed
0,infrastructure_and_utilities_damage,'592326564110585856',RT @divyaconnects: Reached #Kathmandu finally!...,reached kathmandu finally lot indian stranded ...
1,donation_needs_or_offers_or_volunteering_services,'592590231519555584',NepalÃÂs Slowing Economy Set for Freefall Wi...,nepal slowing economy set freefall without wor...
2,donation_needs_or_offers_or_volunteering_services,'593470045814181888',Food crisis imminent for 1.4 million ppl in Ka...,food crisis imminent million ppl kathmandu lon...
3,donation_needs_or_offers_or_volunteering_services,'593155728128516097',Canadian phone companies waive fees for calls ...,canadian phone company waive fee call nepal gl...
4,sympathy_and_emotional_support,'593609036144214016',RT @XuscaSoleNY: https://t.co/o1RqfCCmKm don't...,believe earthquake happen naturally mother nat...

In [10]:
print(dataframe11635.shape)
print(dataframe6231.shape)

(11635, 4)
(6231, 4)

In [11]:
dataframe=pd.concat([dataframe11635,dataframe6231],ignore_index=True)

In [12]:
dataframe.head()

,label,tweet_id,tweet_text,preprocessed
0,missing_trapped_or_found_people,'592616512642420737',fears for Foreigners missing in Nepal earthqua...,fear foreigner missing nepal earthquake death ...
1,affectedPeople_or_injured_or_dead_people_or_De...,'592686635520827393',"RT @ParisBurned: 3,700 people dead is absolute...",700 people dead absolutely devastating country...
2,donation_needs_or_offers_or_volunteering_services,'593301431366635520',Earthquake in Nepal - Please help Kapil #crowd...,earthquake nepal please help kapil crowdfundin...
3,sympathy_and_emotional_support,'592637329786830848',RT @cuteinsan: In this horrible situation in n...,horrible situation nepal god help pita really ...
4,affectedPeople_or_injured_or_dead_people_or_De...,'592955183753203715',VIDEO REPORT Kathmandu overwhelmed by rubble a...,video report kathmandu overwhelmed rubble eart...

In [17]:
dataframe.shape

(17866, 4)

In [16]:
dataframe['label'].value_counts()

prevention_or_caution_and_advice                            3998
affectedPeople_or_injured_or_dead_people_or_DeathReports    3749
donation_needs_or_offers_or_volunteering_services           3059
sympathy_and_emotional_support                              2369
infrastructure_and_utilities_damage                         2327
disease_transmission_or_disease_signs_or_symptoms            970
missing_trapped_or_found_people                              905
treatment                                                    489
Name: label, dtype: int64

In [18]:
with open("dataset17866.pickle", 'wb') as f:
    pickle.dump(dataframe,f)

In [19]:

pickle_in3=open('dataset17866.pickle','rb')
dataset17866=pickle.load(pickle_in3)

pickle_in4=open('mainprocessed_dataset20624.pickle','rb')
dataset20624=pickle.load(pickle_in4)

In [20]:
print(dataset17866.shape)
print(dataset20624.shape)

(17866, 4)
(20624, 4)

In [23]:
not_related_or_irrelevant=dataset20624[dataset20624['label']=='not_related_or_irrelevant']
not_related_or_irrelevant.head()

,label,tweet_id,tweet_text,preprocessed
8,not_related_or_irrelevant,'592877872538324993',RT @RevolutionMonk: #VultureEvangelists Most d...,vultureevangelists disgusting creature earth m...
33,not_related_or_irrelevant,'592111870376419328',RT @LiaqatAli2015: 28/48 handful of people wil...,handful people believe religion god adopt divi...
35,not_related_or_irrelevant,'592131874014629888',Why Nepal gets such big earthquakes (+video) -...,nepal get big earthquake video christian scien...
37,not_related_or_irrelevant,'592137499322941440',Add hit songs to your videos - FREE APP TODAY!...,add hit song video free app today nepal
43,not_related_or_irrelevant,'592720104372183040',Check the cluster and coordiantionget meetings...,check cluster coordiantionget meeting nepal ne...

In [24]:
with open('not_related_or_irrelevant_dataset.pickle' ,'wb') as f:
    pickle.dump(not_related_or_irrelevant,f)

In [25]:
pickle_in5=open('not_related_or_irrelevant_dataset.pickle','rb')
dataset2758=pickle.load(pickle_in5)

In [26]:
dataset2758.head()

,label,tweet_id,tweet_text,preprocessed
8,not_related_or_irrelevant,'592877872538324993',RT @RevolutionMonk: #VultureEvangelists Most d...,vultureevangelists disgusting creature earth m...
33,not_related_or_irrelevant,'592111870376419328',RT @LiaqatAli2015: 28/48 handful of people wil...,handful people believe religion god adopt divi...
35,not_related_or_irrelevant,'592131874014629888',Why Nepal gets such big earthquakes (+video) -...,nepal get big earthquake video christian scien...
37,not_related_or_irrelevant,'592137499322941440',Add hit songs to your videos - FREE APP TODAY!...,add hit song video free app today nepal
43,not_related_or_irrelevant,'592720104372183040',Check the cluster and coordiantionget meetings...,check cluster coordiantionget meeting nepal ne...

In [27]:
dataset2758.shape

(2758, 4)

In [28]:
dataset2758['label'].value_counts()

not_related_or_irrelevant    2758
Name: label, dtype: int64

In [29]:
final_dataset=pd.concat([dataset17866,dataset2758],ignore_index=True)

In [30]:
final_dataset.shape

(20624, 4)

In [32]:
final_dataset.head()

,label,tweet_id,tweet_text,preprocessed
0,missing_trapped_or_found_people,'592616512642420737',fears for Foreigners missing in Nepal earthqua...,fear foreigner missing nepal earthquake death ...
1,affectedPeople_or_injured_or_dead_people_or_De...,'592686635520827393',"RT @ParisBurned: 3,700 people dead is absolute...",700 people dead absolutely devastating country...
2,donation_needs_or_offers_or_volunteering_services,'593301431366635520',Earthquake in Nepal - Please help Kapil #crowd...,earthquake nepal please help kapil crowdfundin...
3,sympathy_and_emotional_support,'592637329786830848',RT @cuteinsan: In this horrible situation in n...,horrible situation nepal god help pita really ...
4,affectedPeople_or_injured_or_dead_people_or_De...,'592955183753203715',VIDEO REPORT Kathmandu overwhelmed by rubble a...,video report kathmandu overwhelmed rubble eart...

In [33]:
final_dataset['label'].value_counts()

prevention_or_caution_and_advice                            3998
affectedPeople_or_injured_or_dead_people_or_DeathReports    3749
donation_needs_or_offers_or_volunteering_services           3059
not_related_or_irrelevant                                   2758
sympathy_and_emotional_support                              2369
infrastructure_and_utilities_damage                         2327
disease_transmission_or_disease_signs_or_symptoms            970
missing_trapped_or_found_people                              905
treatment                                                    489
Name: label, dtype: int64

In [34]:
with open('final_dataset.pickle','wb') as f:
    pickle.dump(final_dataset,f)